body {
  margin: 0;
  background: radial-gradient(circle at center, #0f0f0f, #000000);
  font-family: 'Press Start 2P', cursive;
  color: #00ffff;
  text-align: center;
}

#ui {
  padding: 1em;
}

.controls {
  margin-top: 1em;
}

select, button {
  background: #111;
  color: #0ff;
  border: 2px solid #0ff;
  padding: 0.5em;
  font-size: 1em;
}

#board-container {
  width: 100%;
  height: 80vh;
  margin-top: 1em;
}